h1, .screen-grid h3 { text-align: center;}

.screen-grid {
  display: grid;
  grid-template: 500px / 50% 50%;
}

.screen-grid div:nth-child(1) {
  border: 1px solid blue;
  text-align: center;
}

.screen-grid div:nth-child(1) p {
  font-size: 100px;
}

.screen-grid > div:nth-child(2) {
  border: 1px solid black;
}

.negative-balance {
  color: red;
  animation: flash 0.5s infinite alternate;
}

@keyframes flash {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.od-message {
  float: right;
  border: 1px solid darkred;
  padding: 2%;
  margin-top: 1.0%;
  color: #fff;
  background: red;
  font-size: 20px;
  width: 23%;
}

.hidden {
  display: none;
}

.od-message h3 {
  margin-top: 0;
}